
.content-box {
  -fx-background-color: -color-background-dark;
  -fx-border-color: #2b3946;
  -fx-border-width: 2 0 2 2;
}

.content-box .content {
  -fx-background: -color-background-dark;
  -fx-border-color: -color-background-dark;
}

.content-box .content * {
  -fx-text-fill: -color-text;
}

.content-box .content .title {
  -fx-font-size: 22;
  -fx-fill: -color-text;
}

/* Spinner styles */
.content-box .button {
  -fx-text-fill: -color-text-dark;
}

/* Spinner styles */
.content-box .spinner .text-field {
  -fx-text-fill: -color-text-dark;
}

/* TableView styles */
.content-box .table-view .table-column {
  -fx-text-fill: -color-text-dark;
}

.content-box .table-view .column-header .label {
  -fx-text-fill: -color-text-dark;
}
